@charset "UTF-8";

body{
    background-color: rgb(209, 156, 209);
    font-family: serif;
    font-size: 14px;
}
h1{
    color: rgb(196, 13, 196);
    font-family: serif;
    background-color: white;
}
h2{
    color: rgb(0, 0, 0);
}
p{
    text-align: justify;
    font-family: serif;
    color: white
}